<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta th:replace="fragments/header :: head"/>
</head>

<body>
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb15">
        <button type="submit" class="btn btn-primary fw300 btn-block" style="font-size: 14px;">Groups</button>
    </div>

    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb15">
        <button type="submit" class="btn btn-primary fw300 btn-block" style="font-size: 14px;">Cards</button>
    </div>


    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb15">
        <button type="submit" class="btn btn-primary fw300 btn-block" style="font-size: 14px;">Study</button>
    </div>

     <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mb15">
        <button type="submit" class="btn btn-primary fw300 btn-block" style="font-size: 14px;">Test</button>
    </div>
</body>
</html>